<naviga></naviga>
<div class="container">
  <section class="comment-list">
      <label for="filter">Search comments</label>
      <input id="filter" type="text" name="filter" ng-model="search.name">
      <div class="alert alert-warning" ng-hide='vm.logedin'>
        Welcome to the CRYPTOGRAM official commenting page. 
        To post a comment you need to login or register first.
        After the first registration, you are able to login with the mail provided, 
        at any time, and post a new comment. Comment's content should be somehow connected to the cryptogram portal
        or it will be removed by the administrator.
      </div>
  
      <div class="container-article" ng-repeat="comment in vm.data.comments | filter:search:strict| filter:vm.q | startFrom:0 | limitTo:vm.pageSize">
        <article class='row'>
          
          <comment onecomment='comment' onclickf='redirectTo(comment)'></comment>

        </article>
      </div>
      <button ng-disabled="vm.currentPage == 0" ng-click="vm.previous()">
          Previous
      </button> {{vm.currentPage+1}}/{{vm.numberOfPages()}}
      <button ng-disabled="vm.currentPage >= vm.getDataLenght/vm.pageSize - 1" ng-click="vm.next()">
            Next
      </button>
  </section>
  
  
  <!-- show only to the logedin users -->
  <div class="container" ng-show='vm.logedin'>
    <div class="widget-area no-padding blank">
        <div class="status-upload">
            <form id="commentForma" ng-submit='vm.newComment()' role="form">
                <div class="form-group"><label for="comment">Comment:</label><textarea class="form-control" rows="5" name="comment" id="comment" ng-model='vm.newcomment.comment'></textarea></div>
                <button class="btn btn-success green" type="submit"><i class="fa fa-share"></i> Share</button></form>
        </div>
    </div>
  </div>
  <footos></footos>
  <link rel="stylesheet" type="text/css" href="/stylesheets/comments.css">
</div>