html(lang="sl" ng-app="comments")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title Crypto comments
    base(href="/")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href="/images/favicon.ico")
    // CSS
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href="/stylesheets/header.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/comments.css")
    // JS
  body
    block head
    nav#top
      h1 Cryptogram
      a.home(href="http://lkrv.fri.uni-lj.si/crypto-portal/")
        img(src="/images/logo.png")
    nav.navbar.navbar-inverse#header-comments
      .container-fluid
        .navbar-header
          a.navbar-brand(href="http://lkrv.fri.uni-lj.si/crypto-portal/") 
            img#home(src="/images/home-icon.png")
        ul.nav.navbar-nav
          li
            a(href="/comments") Comment
    
    div(ng-view)    
      block content
    
    script(src='/angular/angular.min.js')
    script(src='/lib/angular-route.min.js')
    script(src='/app.js')
    script(src='/comments/comments.controller.js')
    script(src='/all/services/commentsData.service.js')

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="/javascripts/search.js")
    link(rel="stylesheet" type="text/css" href="/stylesheets/comments.css")
