doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title Crypto comments
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href="images/favicon.ico")
    // CSS
    
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700', rel='stylesheet')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href="stylesheets/header.css")
    // JS
  body
    block head
    nav#top
      h1 Cryptogram
      a(href="http://lkrv.fri.uni-lj.si/crypto-portal/")
        img(src="images/logo.png")
    nav#nav-bar
      .container-fluid
        ul
          li.home
            a.btn.btn-secondary(role='button', href="http://lkrv.fri.uni-lj.si/crypto-portal/")
              img#home(src="{{url_for('static', filename='images/home-icon.png')}}")
          li.dropdown
            a.btn.btn-secondary.dropdown-toggle(role='button', data-toggle='dropdown', href="/comments")
              | Comment 
              span.caret
        form.navbar-form.navbar-left(action="/comments/search" method="GET")
            .form-group
              input.form-control#searchName(type="text" placeholder="Search" name="name")
            button.btn.btn-default#search(type="submit") Submit
    
    block content
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    
    script(src="/javascripts/search.js")
    link(rel="stylesheet" type="text/css" href="/stylesheets/comments.css")
